body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: #202123;
    color: white;
}
h1 {
    font-size: 32px;
    text-align: left;
    margin-left: 100px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #757575;
}

input {
    font-size: 18px;
    padding: 5px;
    width: 60px;
    text-align: left;
    margin-bottom: 10px;
    background-color: #202123;
    color: white;
}

input[type="text"] {
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    text-align: left;
    border: 1px solid #ddd;
}

input[type="file"]{
    font-size: 18px;
    padding: 5px;
    width: 300px;
    text-align: left;
    margin-bottom: 10px;
    background-color: #202123;
    color: white;
}


img {
    margin-top: 20px;
    max-width: 500px;
}

img.qr-image {
    margin-top: 20px;
    max-width: 500px;
}

.menu {
    margin-top: 30px;
}

.menu a {
    display: block;
    margin: 15px auto;
    width: 250px;
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color: #757575;
    border-radius: 8px;
    font-size: 20px;
    line-height: 1.5;
}

.menu a:hover {
    background-color: #121212;
}

.login {
    margin-top: 30px;
}

.login a {
    display: block;
    position: absolute;
    top: 10px;
    right: 140px;
    margin: 10px auto;
    width: 100px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #757575;
    border-radius: 5px;
    font-size: 18px;
}

.tasks {
    margin-top: 30px;
}

.tasks a {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 10px auto;
    width: 100px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #757575;
    border-radius: 5px;
    font-size: 18px;
}

.register {
    margin-top: 30px;
}

.register a {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 10px auto;
    width: 100px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #757575;
    border-radius: 5px;
    font-size: 18px;
}

.exit a:hover {
    background-color: #121212;
}

.start-button {
    display: block;
    margin: 10px;
    width: 100px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #757575;
    border-radius: 5px;
    font-size: 18px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.output {
    border: 1px solid white;
    padding: 10px;
    width: 1200px;
    margin: 20px auto;
    min-height: 30px;
    text-align: left;
    font-size: 25px;
    cursor: text;
    background-color: #333;
    border-radius: 5px;
    line-height: 1.8;
}

.input-container {
    margin-top: 20px;
}

.container {
    text-align: center;
    background: #202123;
    padding: 20px;
    border-radius: 8px;
}

#status {
    margin-top: 10px;
    color: #333;
}

#timeDisplay {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
    display: inline-block;
    min-width: 200px;
}

#stopwatchDisplay {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
    display: inline-block;
    min-width: 200px;

}

#time {
    font-size: 64px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    display: inline-block;
    min-width: 200px;

}

#password {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
    display: inline-block;
    min-width: 200px;
}

#listContainer {
    float: left;
    width: 400px;
    position: absolute;
    top: 350px;
    left: 10px;

}

#mojaLista {
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0;
}